#center1 {
  width: 1003px;
  margin: 0 auto;
  background: url(bg.jpg) repeat-y;
}
#center2 {
  width: 781px;
  margin: 0 auto;
  background: url(bg.jpg) repeat-y;
}

#headerp {
  font-family: Arial, Tahoma;
  font-size: 9pt;
  align: center;
}
#headert {
  font-family: Arial, Tahoma;
  font-size: 10pt;
  align: center;
  font-weight: bold;
}

#headergrep {
  font-family: Arial Narrow;
  font-size: 4;
  align: center;
}
#center2 {
  width: 760px;
  margin: 0 auto;
  font-family: Arial, Tahoma;
  font-size: 10pt;
  font-weight: bold;
}

:link {
  color: rgb(51, 51, 125);
  text-decoration: none;
}
:active {
  color: rgb(0, 153, 0);
  text-decoration: underline;
}
:visited {
  color: rgb(85, 85, 175);
  text-decoration: none;
}
